alias jlab='jupyter lab'
alias xo='xdg-open'
alias ll='ls -lah'

# Merge PDF files
# Usage: `mergepdf input{1,2,3}.pdf output.pdf`
alias mergepdf='function __mergepdf(){ gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=${@: -1} $1; };__mergepdf'

# Subset PDF files
# Usage: `subsetpdf input.pdf N_FIRSTPAGE N_LASTPAGE output.pdf`
function __subsetpdf() {
    gs -dNOPAUSE -dBATCH -dFirstPage=$2 -dLastPage=$3 -sDEVICE=pdfwrite -sOutputFile=$4 -f $1;
}
alias subsetpdf='__subsetpdf'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# remote jupyterlab
function __remote_jlab() {
    local rem_host=$1
    local port="${2:-8800}"
    local fwd_main="-L${port}:localhost:${port}"
    local fwd_aux="-L8787:localhost:8787"
    local rem_cmd="echo \$HOSTNAME; __conda_env && conda activate && jupyter lab --no-browser --port="${port}
    google-chrome "http://localhost:"$port
    ssh $fwd_main $fwd_aux $rem_host $rem_cmd
}
alias remote_jlab='__remote_jlab'
